# NVMe-specific kernel fragment
# RK3399 has a single PCIe controller (pcie0, up to x4) for the M.2 slot
CONFIG_PCI=y
CONFIG_PCIE_ROCKCHIP_HOST=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_HWMON=y
CONFIG_NVME_MULTIPATH=y
CONFIG_PCI_MSI=y
CONFIG_ATA=y
CONFIG_SCSI=y
